{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "semi": false,
    "printWidth": 100,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "endOfLine": "lf",
    "pluginSearchDirs": ["."],
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
