//=========================================================
//
//  @package sass-wdk
//
//  @module constants/font.constants
//  @description Assorted web font collection
//
//=========================================================


//-----------------------------------------------------------------------------
//  Webfonts (Google web fonts: https://fonts.google.com)
//
//  @Usage
//    <link href="https://fonts.googleapis.com/css?family=Roboto|Fira+Sans" rel="stylesheet">
//    @import url("//fonts.googleapis.com/css?family=Roboto|Fira+Sans")
//    @import url($roboto-url);
//
//  @note:
//    Multiple fonts can be loaded from fonts.googleapis.com using | between font names
//    It's recommended to use <link> rather than @import for better performance using parallel file loading
//-----------------------------------------------------------------------------
$roboto:                     'Roboto',sans-serif !default;
$roboto-url:                 '//fonts.googleapis.com/css?family=Roboto' !default;

$roboto-mono:                'Roboto mono',monospace !default;
$roboto-url:                 '//fonts.googleapis.com/css?family=Roboto+Mono' !default;

$montserrat:                 'Montserrat',sans-serif !default;
$montserrat-url:             '//fonts.googleapis.com/css?family=Montserrat' !default;

$fira-sans:                  'Fira Sans',sans-serif !default;
$fira-sans-url:              '//fonts.googleapis.com/css?family=Fira+Sans' !default;

$open-sans:                  'Open Sans',sans-serif !default;
$open-sans-url:              '//fonts.googleapis.com/css?family=Open+Sans' !default;

$lato:                       'Lato',sans-serif !default;
$lato-url:                   '//fonts.googleapis.com/css?family=Lato' !default;

$noto-sans:                  'Noto Sans',sans-serif !default;
$noto-sans-url:              '//fonts.googleapis.com/css?family=Noto+Sans' !default;

$noto-sans-kr:               'Noto Sans KR',sans-serif !default;
$noto-sans-kr-url:           '//fonts.googleapis.com/css?family=Noto+Sans+KR' !default;

$source-sans-pro:            'Nanum Gothic Coding',monospace !default;
$source-sans-pro-uri:        '//fonts.googleapis.com/css?family=Source+Sans+Pro' !default;

//--- nNanum fonts
$nanum-gothic:               'Nanum Gothic',sans-serif !default;
$nanum-gothic-url:           '//fonts.googleapis.com/css?family=Nanum+Gothic' !default;

$nanum-myeongjo:             'Nanum Myeongjo',serif !default;
$nanum-myeongjo-url:         '//fonts.googleapis.com/css?family=Nanum+Myeongjo' !default;

$nanum-pen-script:           'Nanum Pen Script',cursive !default;
$nanum-pen-script-url:       '//fonts.googleapis.com/css?family=Nanum+Pen+Script' !default;

$nanum-brush-script:         'Nanum Brush Script',cursive !default;
$nanum-brush-script-url:     '//fonts.googleapis.com/css?family=Nanum+Brush+Script' !default;

$nanum-gothic-coding:        'Nanum Gothic Coding',monospace !default;
$nanum-gothic-coding-url:    '//fonts.googleapis.com/css?family=Nanum+Gothic+Coding' !default;


//--- Online Webfonts: https://www.onlinewebfonts.com/
$helvetica-neue-lt-pro:      'Helvetica+Neue+LT+Pro';
$helvetica-neue-lt-pro-url:  '//db.onlinewebfonts.com/c/b9c4b6f31f1d4c4c9755b89abb981506?family=Helvetica+Neue+LT+Pro' !default;
