//=========================================================
//
//  @package Sass-WDK
//  @module constants/typography (assorted font selections)
//
//=========================================================

//--- font defaults
$w-font-size:                   14px !default;
$w-font-heading:                $w-font-montserrat !default;
$w-font-text:                   $w-font-roboto !default;
$w-font-code:                   $w-font-roboto-mono !default;

//--- font scaling
$w-font-scaler:                 1.25 !default;
$w-font-down-scaler:            0.9 !default;
$w-font-scale-up-unit:          0.5 !default;
$w-font-scale-down-unit:        0.25 !default;
$w-font-size-xxs:               1em * $w-font-down-scaler * $w-font-down-scaler * $w-font-down-scaler !default;
$w-font-size-xs:                $w-font-size-xxs / $w-font-down-scaler !default;
$w-font-size-sm:                $w-font-size-xs / $w-font-down-scaler !default;
$w-font-size-md:                1em * $w-font-scaler !default;
$w-font-size-lg:                $w-font-size-md * $w-font-scaler !default;
$w-font-size-xl:                $w-font-size-lg * $w-font-scaler !default;
$w-font-size-xxl:               $w-font-size-xl * $w-font-scaler !default;
$w-font-size-xxxl:              $w-font-size-xxl * $w-font-scaler !default;

// font-size aliases
$w-text-xxs:                    $w-font-size-xxs !default;
$w-text-xs:                     $w-font-size-xs !default;
$w-text-sm:                     $w-font-size-sm !default;
$w-text-md:                     $w-font-size-md !default;
$w-text-lg:                     $w-font-size-lg !default;
$w-text-xl:                     $w-font-size-xl !default;
$w-text-xxl:                    $w-font-size-xxl !default;
$w-text-xxxl:                   $w-font-size-xxxl !default;

//--- line height
$w-line-height:                 1.5 !default;

//--- spacing
$w-space-unit:                  1em !default;
