//=========================================================
//
//  @package Sass-WDK
//  @module constants/typography (assorted font selections)
//
//=========================================================

//--- fonts
$w-font-size:                   14px !default;
$w-font-sans:                   $w-font-sans-default !default;
$w-font-serif:                  $w-font-serif-default !default;
$w-font-mono:                   Roboto Mono,Consolas,Courier,monospace;

//--- font scaling
$w-font-scaler:                 1.25 !default;
$w-font-down-scaler:            0.9 !default;
$w-font-scale-up-unit:          0.5 !default;
$w-font-scale-down-unit:        0.25 !default;
$w-font-size-xxs:               1em / ((1 + $w-font-scale-down-unit * 2) * $w-font-scaler) !default;
$w-font-size-xs:                1em / ((1 + $w-font-scale-down-unit * 1) * $w-font-scaler) !default;
$w-font-size-sm:                1em / ((1 + $w-font-scale-down-unit * 0) * $w-font-scaler) !default;
$w-font-size-md:                1em * ((1 + $w-font-scale-up-unit * 0) * $w-font-scaler) !default;
$w-font-size-lg:                1em * ((1 + $w-font-scale-up-unit * 1) * $w-font-scaler) !default;
$w-font-size-xl:                1em * ((1 + $w-font-scale-up-unit * 2) * $w-font-scaler) !default;
$w-font-size-xxl:               1em * ((1 + $w-font-scale-up-unit * 3) * $w-font-scaler) !default;
$w-font-size-xxxl:              1em * ((1 + $w-font-scale-up-unit * 4) * $w-font-scaler) !default;

// font-size aliases
$w-text-xxs:                    $w-font-size-xxs !default;
$w-text-xs:                     $w-font-size-xs !default;
$w-text-sm:                     $w-font-size-sm !default;
$w-text-md:                     $w-font-size-md !default;
$w-text-lg:                     $w-font-size-lg !default;
$w-text-xl:                     $w-font-size-xl !default;
$w-text-xxl:                    $w-font-size-xxl !default;
$w-text-xxx1:                   $w-font-size-xxxl !default;

//--- line height
$w-line-height:                 1.5 !default;

//--- spacing
$w-space-unit:                  1em !default;
