//=========================================================
//
//  @package Sass-WDK
//  @module constants/z-index
//
//  @description z-index definitions
//
//=========================================================

$z-index-spacing:                1000 !default;  // interval between z-index-levels

$z-index-shadow1:                -$z-index-spacing !default;
$z-index-shadow2:                -$z-index-shadow1 - $z-index-spacing !default;
$z-index-shadow3:                -$z-index-shadow2 - $z-index-spacing !default;
$z-index-shadow4:                -$z-index-shadow3 - $z-index-spacing !default;
$z-index-shadow5:                -$z-index-shadow4 - $z-index-spacing !default;
$z-index-shadow6:                -$z-index-shadow5 - $z-index-spacing !default;
$z-index-shadow7:                -$z-index-shadow6 - $z-index-spacing !default;
$z-index-shadow8:                -$z-index-shadow7 - $z-index-spacing !default;
$z-index-shadow9:                -$z-index-shadow8 - $z-index-spacing !default;

$z-index-level1:                 $z-index-spacing !default;
$z-index-level2:                 $z-index-level1 + $z-index-spacing !default;
$z-index-level3:                 $z-index-level2 + $z-index-spacing !default;
$z-index-level4:                 $z-index-level3 + $z-index-spacing !default;
$z-index-level5:                 $z-index-level4 + $z-index-spacing !default;
$z-index-level6:                 $z-index-level5 + $z-index-spacing !default;
$z-index-level7:                 $z-index-level6 + $z-index-spacing !default;
$z-index-level8:                 $z-index-level7 + $z-index-spacing !default;
$z-index-level9:                 $z-index-level8 + $z-index-spacing !default;
