//=========================================================
//
//  @package sass-wdk
//
//  @module ui/misc
//
//=========================================================

@use "../font";
@use "media-query" as mq;
@use "sass:meta";

//
//  Clearfix
//  @param {bool} $ie8 - IE8
//
//  @credit
//  https://ismamz.github.io/postcss-utilities/docs#clear-fix
//  http://nicolasgallagher.com/micro-clearfix-hack/
//
@mixin clearfix($ie8:false) {
    @if $ie8 {

        &:before,
        &:after {
            display: table;
            content: ' ';
        }

        &:after {
            clear: both;
        }

        // IE6 and IE7 support is removed
        // zoom: 1; // For IE 6/7 (trigger hasLayout)
    }

    @else {
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
}

//
//  Truncate text
//  @param {number} [$lines=1] - Number of lines to truncate
//  @param {number} [$line-height=null] - line-hight value.
//    if null, $w-line-height variable is checked.
//    if $w-line-height variable exists, it's used. Or 1.5 is assigned as default
//
@mixin truncate-text($lines:1, $line-height: null) {
    @if $line-height==null {
        @if not meta.global-variable-exists('line-height', font) {
            @warn "[util.scss]:$w-line-height is not defined. Using 1.5 as default\a"
            +"To supress this warning, load font module first.\a";
            $line-height: 1.5;
        }

        @else {
            $line-height: font.$line-height;
        }
    }

    @if $lines==1 {
        white-space: nowrap;
    }

    @else {
        display: box;
        height: $lines * $line-height;
        line-height: $line-height;
        line-clamp: $lines;
        box-orient: vertical;
    }

    overflow: hidden;
    text-overflow: ellipsis;
}


//--- alignment ---

@mixin align($direction:left, $display:null) {
    @if $display {
        display: $display;
    }

    @if $display==table {
        @if ($direction==center) {
            margin: 0 auto;
        }

        @else {
            margin-#{$direction}: 0;
        }
    }

    @else {
        @if ($direction==center) {
            margin-left: auto;
            margin-right: auto;
        }

        @else {
            float: $direction;
        }
    }
}

@mixin align-left {
    @include w-align(left);
}

@mixin align-right {
    @include w-align(right);
}

@mixin align-center {
    @include w-align(center);
}

@mixin align-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

//
//  Generate visibility classes
//  @param {string | List[string]} [$v-names=all] - Visibility class name list to generate.
//    If the value is 'all', then it will be (show, hide, visible, invisible).
//  @param {List} [$mq-list=null] - Media Query name list. If null, it means all.
//  @param {string} [$
//
@mixin generate-visibility-classes($v-names:all, $mq-list:null, $display-type:block) {
    $v-names: if($v-names==all, (show, hide, visible, invisible), $v-names);
    $mq-list: if($mq-list==null, w-media-query-names(), $mq-list);

    @if (list-contains($v-names, 'show')) {
        .show {
            display: block;
        }
    }

    @if (list-contains($v-names, 'hide')) {
        .hide {
            display: none;
        }
    }

    @if (list-contains($v-names, 'visible')) {
        .visible {
            visibility: visible;
        }
    }

    @if (list-contains($v-names, 'invisible')) {
        .invisible {
            visibility: hidden;
        }
    }

    @for $i from 1 through length($mq-list) {
        $mq-name: nth($mq-list, $i);

        @if (list-contains($v-names, 'show')) {
            .show\@#{$mq-name} {
                display: none;

                @include mq.media($mq-name) {
                    display: unquote($display-type);
                }
            }
        }

        @if (list-contains($v-names, 'hide')) {
            .hide\@#{$mq-name} {
                display: block;

                @include mq.media($mq-name) {
                    display: none;
                }
            }
        }

        @if (list-contains($v-names, 'visible')) {
            .visible\@#{$mq-name} {
                visibility: hidden;

                @include mq.media($mq-name) {
                    visibility: visible;
                }
            }
        }

        @if (list-contains($v-names, 'invisible')) {
            .invisible\@#{$mq-name} {
                visibility: hidden;

                @include mq.media($mq-name) {
                    visibility: visible;
                }
            }
        }
    }
}
