//=========================================================
//
//  @package  Wicle
//  @module   theme
//
//=========================================================

@use '../reg';
@use '../color';
@use 'sass:meta';

$key: 'theme';

//---------------------------------------------------------
//  Configuration
//---------------------------------------------------------
@mixin ssv($path, $value, $is-default: false) {
    @include reg.ssv($key, $path, $value, $is-default);
}
@function gsv($path, $default: null) {
    @return reg.gsv($key, $path, $default);
}

@mixin set-theme-color($theme-color) {
    @include ssv('color/fg', $theme-color);
    @include ssv('color/bg', color.adjust($theme-color, $alpha: -0.95));
    @include ssv('color/link', color.scale($theme-color, $lightness: -10%));
    @include ssv('color/link-hover', color.$text-red);
    @include ssv('color/line', rgba($theme-color, 0.35));
}

//--- fonts
@include ssv('font-size', 14px, true); // default font size
@include ssv('border-radius', 3px, true); // default border radius

//--- colors
@include ssv('color/fg', color.$bahama-blue, true);
@include ssv('color/bg', color.adjust(gsv('color/fg'), $alpha: -0.95), true);
@include ssv('color/link', color.scale(gsv('color/fg'), $lightness: -10%), true);
@include ssv('color/link-hover', color.$text-red, true);
@include ssv('color/line', rgba(gsv('color/fg'), 0.35), true);

//--- text colors
@include ssv('text/fg', color.$text-black, true); // default text color
@include ssv('text/bg', #fff, true); // default background color
@include ssv('text/link/fg', color.$cerulean, true); // <a> color
@include ssv('rext/link/visited', gsv('text/link/fg'), true);
@include ssv('text/link/hover', color.scale(gsv('text/link/fg'), $lightness: -10%), true);
@include ssv('code-block', color.$alice-blue, true); // <pre><code> color

//--- color scheme
@include ssv('color/primary', color.$navy-blue, true);
@include ssv('color/secondary', color.$raven, true);
@include ssv('color/success', color.$chateau-green, true);
@include ssv('color/info', color.$pelorous, true);
@include ssv('color/warning', color.$amber, true);
@include ssv('color/danger', color.$amaranth, true);
@include ssv(
    'color-scheme',
    (
        primary: gsv('color/primary'),
        secondary: gsv('color/secondary'),
        success: gsv('color/success'),
        info: gsv('color/info'),
        warning: gsv('color/warning'),
        danger: gsv('color/danger'),
    ),
    true
);

// //----------------------------------------------------------
// //  variables
// //----------------------------------------------------------
// // --- fonts / default fonts
// $font-size: gsv('font-size', 14px) !default; // default font size
// $border-radius: gsv('border-radius', 3px) !default;

// // --- colors
// $color-fg: gsv('color/fg', color.$bahama-blue) !default;
// $color-bg: gsv('color/bg', color.adjust($color-fg, $alpha: -0.95)) !default;
// $color-link: gsv('color/link', color.scale($color-fg, $lightness: -10%)) !default;
// $color-link-hover: gsv('color/link-hover', color.$text-red) !default;
// $color-line: gsv('color/line', rgba($color-fg, 0.35)) !default;

// // --- text colors
// $text: gsv('text/fg', color.$text-black) !default;
// $text-bg: gsv('text/bg', #fff) !default; // default background color
// $text-link: gsv('text/link/fg', color.$cerulean) !default; // <a> color
// $text-link-visited: gsv('rext/link/visited', $text-link) !default;
// $text-link-hover: gsv('text/link/hover', color.scale($text-link, $lightness: -10%)) !default;
// $code-block: gsv('code-block', color.$alice-blue) !default; // <pre><code> color

// // --- color scheme
// $primary: gsv('color/primary', color.$navy-blue);
// $secondary: gsv('color/secondary', color.$raven);
// $success: gsv('color/success', color.$chateau-green);
// $info: gsv('color/info', color.$pelorous);
// $warning: gsv('color/warning', color.$amber);
// $danger: gsv('color/danger', color.$amaranth);
// $color-scheme: (
//     primary: $primary,
//     secondary: $secondary,
//     success: $success,
//     info: $info,
//     warning: $warning,
//     danger: $danger,
// ) !default;

//-----------------------------------------------
//  Mixins
//-----------------------------------------------
// @mixin config($config: null) {
//     $__conf: reg.merge(reg.gsv($key), $config) !global;
// }

// @mixin set-colors($fg:color.$bahama-blue, $bg:auto, $link:auto, $link-hover:null, $line:auto, $is-default:false) {
//     @include _ssv('color/fg', $fg, $is-default);
//     @include _ssv('color/bg', if($bg==auto, color.scale($fg, $alpha: -95%), $bg), $is-default);
//     @include _ssv('color/link', if($link==auto, color.scale($fg, $lightness: -10%), $link), $is-default);
//     @if $link-hover {
//         @include _ssv('color/link-hover', color.$text-red, $is-default);
//     }
//     @include reg.ssv('color/line', if($line==auto, rgba($fg, 0.35), $line), $is-default);
// }

// @mixin select($name: default, $is-default:false) {
//     $name: meta.inspect($name);

//     @if $name == 'amaranth' {
//         @include set-colors($fg:color.$amaranth, $link-hover:color.$persimmon, $is-default:$is-default);
//     }
//     @else if $name == 'purple' {

//         @include set-colors($fg:color.$purple, $is-default:$is-default);
//     }
//     @else if $name == 'teal' {
//         @include set-colors($fg:color.$teal, $is-default:$is-default);
//     }
//     @else if $name == 'harley-davison-orange' {
//         @include set-colors($fg:color.$harley-davidson-orange, $is-default:$is-default);
//     }
//     @else if $name == 'default' {
//         @include set-colors($fg:color.$bahama-blue, $is-default:$is-default);
//     }
// }

// @include select(default, $is-default:true);     // select default theme
